header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

/* sets the bacckground to a gradient using the image provided */
body {
	height: 760px;
	background-image: url("../Images/ptrbackground.jpg");
	background-color: #00569f;
	background-size: contain;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

/* used to resize the website*/
#wrapper {
	min-width: 1424px;
	width: 50%;
  max-width: 1000px;
}

/* sets background of h1 to the sunset img. img is displayed to the right. the
left side is filled up using a grid. */
h1 {
	background-image: url("../Images/sunset.jpg");
	background-repeat: no-repeat;
	background-position: right;
	display: grid;
	background-color: #000230;
	margin-right: 324px;
	margin-bottom: 0;
	padding: 10px;
	color: white;
	font-family: Georgia, "Times New Roman", serif;
	margin-left: 300px;
}
/* set characteristics for h2 */
h2 {
	color: #3399CC;
	font-family: Georgia, "Times New Roman", serif;
	padding-left: 30px;
	padding-top: 20px;
}

/* lines 46-56 are used to stylize the ul links*/
ul {
	list-style-type: none;
}

nav ul li a {
	margin-right: 100px;
	text-decoration:none;
	font-size: 20px;
	color: #000230;
	font-weight: bold;
}

/* create a grid to display the blue part of the nav bar. */
nav {
	display: grid;
	grid-column: 1;
  grid-row: 2/5;
	background-color: #90c7e3;
	max-width: 200px;
	height: 544px;
	margin-left: 300px;
}

img {
	padding-left: 30px;
	width: 320px;
	height: 250px;
}

/* create the white space that is present after the nav bar and
also holds the rest of the content */
#content {
	background-color: white;
	width: 610px;
	height: 544px;
	margin-top: -564px;
	margin-left: 490px;
}

/* After looking into several websites about list styles and consulting with TA
Phillip, I was unable to wrap the list around the image! This might be due to
excess padding used throught the code! */
#content ul li {
	list-style: inside url("../Images/marker.gif");
	padding-left: 330px;
}

.resort {
	color: #4f90be;
}

/* align the paragraph next to image*/
p {
	padding-right: 50px;
	padding-left: 370px;
	margin-top: -255px;
}

#contact {
	font-size: 90%;
	padding-left: 30px;
	margin-top: -40px;
}

dt {
	color: #000230;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	font-size: 13px;
	padding-left: 510px;
	margin-top: -50px;
}
